.boxParent {
  background-color: #155e9c;
  width: 400px;
  height: 400px;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boxParent button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: #ef7c66 solid 2px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.boxParent button:hover {
  background-color: #f1ce7a;
  color: #122f48;
  border: #f8efce solid 2px;
}
